*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    box-sizing: border-box;
    background-color: rgba(0, 170, 255, 0.471);
}

.header{
    width: 1480px;
    margin: 0 auto;
    text-align: center;
}

.header__wrapper_list{
    list-style: none;
    padding-top: 12px;
}

.header__wrapper_list_items{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 45px;
}

.logo-name-span{
    display: block;
    font-size: 20px;
}

/* ========================== */

.main{
    width: 1280px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

.site-theme{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 55px;
    color: rgb(0, 41, 123);
}

.first-info-wrapper{
    display: flex;
    align-items: center;
    text-align: start;
    margin-top: 30px;
}

.first-info{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    margin-right: 220px;
}

/* ========================================= */

.second-info-wrapper{
    display: flex;
    align-items: center;
    text-align: start;
    margin-top: 100px;
}

.second-info{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    margin-left: 210px;
}

/* ======================================= */

.third-info-wrapper{
    display: flex;
    align-items: center;
    text-align: start;
    margin-top: 100px;
}

.third-info{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    margin-right: 260px;
}

/* ========================================= */

.fourth-info-wrapper{
    display: flex;
    align-items: center;
    text-align: start;
    margin-top: 100px;
}

.fourth-info{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    margin-left: 180px;
}

/* ======================================= */

.fifth-info-wrapper{
    width: 950px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.fifth-info{
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}